<mat-toolbar color="primary" style="margin-bottom: 20px;" class="mat-elevation-z3">
  <mat-toolbar-row>
    <h1 class="mat-h1">AddProduct</h1>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <form name="myForm" #myForm="ngForm" (ngSubmit)="addProduct(myForm)" class="form-horizontal">

    <div class="form-group">
      <label for="productName" class="control-label">Product Name:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productName" #productName="ngModel" name="productName"
          [(ngModel)]="productDto.productName" required pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productName.errors?.required">Product Name is required</mat-error>
        <mat-error *ngIf="productName.errors?.pattern">Product Name invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productBrand" class="control-label">Product Brand:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Brand</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productBrand" #productBrand="ngModel"
          name="productBrand" [(ngModel)]="productDto.productBrand" required pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productBrand.errors?.required">Product Brand is required</mat-error>
        <mat-error *ngIf="productBrand.errors?.pattern">Product Brand invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productPrice" class="control-label">Product Price:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Price</mat-label>
        <input matInput type="number" placeholder="Ex. Go pro" id="productPrice" #productPrice="ngModel"
          name="productPrice" [(ngModel)]="productDto.productPrice" required pattern="^[1-9]\d*$">
        <mat-error *ngIf="productPrice.errors?.required">Product Price is required</mat-error>
        <mat-error *ngIf="productPrice.errors?.pattern">Product Price invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productManufacturer" class="control-label">Product Manufacturer:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Manufacturer</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productManufacturer" #productManufacturer="ngModel"
          name="productManufacturer" [(ngModel)]="productDto.productManufacturer" required
          pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productManufacturer.errors?.required">Product Manufacturer is required</mat-error>
        <mat-error *ngIf="productManufacturer.errors?.pattern">Product Manufacturer invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productSpecification" class="control-label">Product Specification:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Specification</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productSpecification" #productSpecification="ngModel"
          name="productSpecification" [(ngModel)]="productDto.productSpecification" required
          pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productSpecification.errors?.required">Product Specification is required</mat-error>
        <mat-error *ngIf="productSpecification.errors?.pattern">Product Specification invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productDimension" class="control-label">Product Dimension:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Dimension</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productDimension" #productDimension="ngModel"
          name="productDimension" [(ngModel)]="productDto.productDimension" required
          pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productDimension.errors?.required">Product Dimension is required</mat-error>
        <mat-error *ngIf="productDimension.errors?.pattern">Product Dimension invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productColour" class="control-label">Product Colour:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Colour</mat-label>
        <input matInput type="text" placeholder="Ex. Go pro" id="productColour" #productColour="ngModel"
          name="productColour" [(ngModel)]="productDto.productColour" required pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$">
        <mat-error *ngIf="productColour.errors?.required">Product Colour is required</mat-error>
        <mat-error *ngIf="productColour.errors?.pattern">Product Colour invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productQuantity" class="control-label">Product Quantity:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input matInput type="number" placeholder="Ex. Go pro" id="productQuantity" #productQuantity="ngModel"
          name="productQuantity" [(ngModel)]="productDto.productQuantity" required pattern="^[1-9]\d*$">
        <mat-error *ngIf="productQuantity.errors?.required">Product Quantity is required</mat-error>
        <mat-error *ngIf="productQuantity.errors?.pattern">Product Quantity invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="productCategory" class="control-label">Product Category:</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Choose product Category</mat-label>
        <mat-select id="productCategory" name="productCategory" [(ngModel)]="productDto.productCategory"
          #productCategory="ngModel" required>
          <mat-option value="Camping Equipment">Camping Equipment</mat-option>
          <mat-option value="Golf Equipment">Golf Equipment</mat-option>
          <mat-option value="Mountaineering Equipment">Mountaineering Equipment</mat-option>
          <mat-option value="Outdoor Protection">Outdoor Protection</mat-option>
          <mat-option value="Personal Accessories">Personal Accessories</mat-option>
        </mat-select>
        <mat-error *ngIf="productCategory.errors?.required">Product Category Required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button mat-raised-button [disabled]="myForm.form.invalid" color="primary" type="submit">Add
          Product</button>
      </div>
    </div>
  </form>
</div>