<mat-toolbar color="primary" class="mat-elevation-z20">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/']" routerLinkActive="active">GreatOutdoors</a>
        <a mat-button [routerLink]="['/addproduct']" routerLinkActice="active"
            *ngIf="currentUser.getCurrentUser()?.userRole==2">Add Product</a>
        <a mat-button [routerLink]="['/displayproductsforproductmaster']" routerLinkActive="active"
            *ngIf="currentUser.getCurrentUser()?.userRole==2">Product Master's
            Products</a>
        <a mat-button [routerLink]="['/displayproductsforuser']" routerLinkActice="active">Product's Of User</a>
    </mat-toolbar-row>


</mat-toolbar>


<router-outlet></router-outlet>