<form name="myForm" #myForm="ngForm" (ngSubmit)="updateProduct()" class="form-horizontal">

    <div class="form-group">
        <label for="productId" class="control-label col-sm-2">Product Id:</label>
        <div class="col-sm-10">
            <input type="number" id="ngModel" name="productId" [(ngModel)]="productDto.productId" required
                placeholder="Enter Product Id" />
        </div>
    </div>
    <div class="form-group">
        <label for="productName" class="control-label col-sm-2">Product Name:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" name="productName" [(ngModel)]="productDto.productName" required
                placeholder="Enter Product Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="productBrand" class="control-label col-sm-2">Product Brand:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" name="productBrand" [(ngModel)]="productDto.productBrand" required
                placeholder="Enter Product Brand" />
        </div>
    </div>
    <div class="form-group">
        <label for="productPrice" class="control-label col-sm-2">Product Price:</label>
        <div class="col-sm-10">
            <input type="number" id="ngModel" name="productPrice" [(ngModel)]="productDto.productPrice" required
                placeholder="Enter Product Price" />
        </div>
    </div>
    <div class="form-group">
        <label for="productManufacturer" class="control-label col-sm-2">Product Manufacturer:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" name="productManufacturer" [(ngModel)]="productDto.productManufacturer"
                required placeholder="Enter Product Manufacturer" />
        </div>
    </div>
    <div class="form-group">
        <label for="productSpecification" class="control-label col-sm-2">Product Specification:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" name="productSpecification" required
                [(ngModel)]="productDto.productSpecification" placeholder="Enter Product Specification" />
        </div>
    </div>
    <div class="form-group">
        <label for="productDimension" class="control-label col-sm-2">Product Dimension:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" name="productDimension" required [(ngModel)]="productDto.productDimension"
                placeholder="Enter Product Dimension" />
        </div>
    </div>
    <div class="form-group">
        <label for="productColour" class="control-label col-sm-2">Product Colour:</label>
        <div class="col-sm-10">
            <input type="text" id="ngModel" [(ngModel)]="productDto.productColour" name="productColour" required
                placeholder="Enter Product Colour" />
        </div>
    </div>
    <div class="form-group">
        <label for="productQuantity" class="control-label col-sm-2">Product Quantity:</label>
        <div class="col-sm-10">
            <input type="number" id="ngModel" [(ngModel)]="productDto.productQuantity" name="productQuantity" required
                placeholder="Enter Product Quantity" />
        </div>
    </div>
    <div class="form-group">
        <label class="radio-inline"><input type="radio" id="ngModel" [(ngModel)]="productDto.productCategory"
                name="productCategory" value="1" required />Camping
            Equipment</label>
        <label class="radio-inline"><input type="radio" id="ngModel" [(ngModel)]="productDto.productCategory"
                name="productCategory" value="2" required />Golf
            Equipment</label>
        <label class="radio-inline"><input type="radio" id="ngModel" [(ngModel)]="productDto.productCategory"
                name="productCategory" value="3" required />Mountaineering
            Equipment</label>
        <label class="radio-inline"><input type="radio" id="ngModel" [(ngModel)]="productDto.productCategory"
                name="productCategory" value="4" required />Outdoor
            Protection</label>
        <label class="radio-inline"><input type="radio" id="ngModel" [(ngModel)]="productDto.productCategory"
                name="productCategory" value="5" required />Personal
            Accessories</label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-default">Edit Product</button>
        </div>
    </div>


</form>