<table>

    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Brand</td>
        <td>Product Price</td>
        <td>Product Category</td>
        <td>Product Specification</td>
        <td>Product Manufacturer</td>
        <td>Product Dimension</td>
        <td>Product Quantity</td>
        <td>Product Colour</td>
    </tr>
    <tr *ngFor="let item of productsDto">
        <td>{{item.productId}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.productBrand}}</td>
        <td>{{item.productPrice}}</td>
        <td>{{item.productCategory}}</td>
        <td>{{item.productSpecification}}</td>
        <td>{{item.productManufacturer}}</td>
        <td>{{item.productDimension}}</td>
        <td>{{item.productQuantity}}</td>
        <td>{{item.productColour}}</td>
        <td><button type="button" (click)="updateProduct(item.productId)">Update</button></td>
        <td><button type="button" (click)="deleteProduct(item.productId)">Delete</button></td>
    </tr>
</table>