<mat-toolbar color="primary" style="margin-bottom: 20px;" class="mat-elevation-z3">
    <mat-toolbar-row>
        <h1 class="mat-h1">Product's of user</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <img *ngIf="queryResponse==null" src="../../assets/Images/no-product-found.jpg" alt="No Products Found">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of queryResponse?.list">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{item.productName}}</mat-card-title>
                    <mat-card-subtitle>{{item.productCategory}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/Images/tent.jpg" alt="Tent image">
                <mat-card-content>
                    <p>{{item.productSpecification}}</p>
                    <p>&#x20B9;&nbsp;{{item.productPrice}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Order now</button>
                    <button mat-button>
                        <mat-icon color="primary">favorite</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<div class="container">

    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item" [class.active]="currentPage==i" *ngFor="let item of noOfPages;let i=index;">
            <a class="page-link" (click)="getAllProducts(i)">
                {{i+1}}</a>
        </li>
    </ul>
</div>