<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of products">
            <figure class="card card-product">
                <div class="img-wrap"><img src="../../assets/Images/tent.jpg" alt="image of product"></div>
                <figcaption class="info-wrap">
                    <h4 class="title">{{item.productName}}</h4>
                    <p class="desc">{{item.productSpecification}}</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-lg btn-primary float-right stretched-link">Order Now</a>
                    <div class="price-wrap h5">
                        <span class="price-new">&#x20B9;&nbsp; {{item.productPrice}}</span>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
    </div>
    <div class="container">

        <ul class="pagination pagination-lg">
            <li><a href="#" *ngFor="let item of noOfPages;let i=index;" (click)="getPage(i)" >i</a></li>
        </ul>
    </div>