<mat-toolbar color="primary" style="margin-bottom: 20px;" class="mat-elevation-z3">
    <mat-toolbar-row>
        <h1 class="mat-h1">Sign Up</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <form name="myForm" #myForm="ngForm" (ngSubmit)="signUp(myForm)" class="form-horizontal">

        <div class="form-group">
            <label for="userName" class="control-label">User Name:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput type="text" placeholder="Ex. aravind" id="userName" #userName="ngModel" name="userName"
                    [(ngModel)]="userDto.userName" required pattern="[a-z]{1,}[a-z0-9]*">
                <mat-error *ngIf="userName.errors?.required">User Name is required</mat-error>
                <mat-error *ngIf="userName.errors?.pattern">User Name invalid</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="userEmail" class="control-label">User Email:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Email</mat-label>
                <input matInput type="text" placeholder="Ex. aravind4532@gmail.com" id="userEmail" #userEmail="ngModel"
                    name="userEmail" [(ngModel)]="userDto.userEmail" required pattern="[a-z_.]+@[a-z]+[.]{1,}[a-z]+">
                <mat-error *ngIf="userEmail.errors?.required">User Email is required</mat-error>
                <mat-error *ngIf="userEmail.errors?.pattern">User Email invalid</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="userPhoneNumber" class="control-label">User PhoneNumber:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Phone Number</mat-label>
                <input matInput type="text" placeholder="Ex. 9866772522" id="userPhoneNumber" #userPhoneNumber="ngModel"
                    name="userPhoneNumber" [(ngModel)]="userDto.userPhoneNumber" required pattern="[6-9]{1}\d{9}">
                <mat-error *ngIf="userPhoneNumber.errors?.required">User PhoneNumber is required</mat-error>
                <mat-error *ngIf="userPhoneNumber.errors?.pattern">User PhoneNumber invalid</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="userPassword" class="control-label">User Password:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id="userPassword" #userPassword="ngModel"
                    [(ngModel)]="userDto.userPassword" required name="userPassword" pattern="">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userPassword.errors?.required">User Password is required</mat-error>
                <mat-error *ngIf="userPassword.errors?.pattern">User Password invalid</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group" *ngIf="currentUser?.getCurrentUser()?.userRole==1">
            <label for="userRole" class="control-label">User Role:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Choose User Role</mat-label>
                <mat-select id="userRole" name="userRole" [(ngModel)]="userDto.userRole" #userRole="ngModel" required>
                    <mat-option value="2">Product Master</mat-option>
                </mat-select>
                <mat-error *ngIf="userRole.errors?.required">Product Category Required</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button mat-raised-button [disabled]="myForm.form.invalid" color="primary" type="submit">Sign Up
                </button>
            </div>
        </div>
    </form>
</div>